@charset "utf-8";
/* CSS Document */

 body table td{
	font-size: 12px;
	font-size: 1.2rem;
	background: #F8F8F8;
	font-family: "宋体";
}

ul.ul {
	width: 180px;
	margin: 0 auto;
	background: #fff;
	position: relative;
	z-index: 0;
	padding: 60px 20px 70px;
}

ul li {
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-bottom: 1px solid #F8F8F8;
}

ul li.li a {
	color: #666;
	display: block;
}

ul li.li a:hover {
	color: #FF5F3E;
	text-decoration: none;
}

ul li a.hover {
	color: #FF5F3E;
} 
